<div class="container mt-5">
    <div class="row">
        <div class="card col-3 m-3" *ngFor="let fac of faculties">
            <img [src]="fac.FacultyImage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ fac.FacultyName }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a routerLink="../faculty/{{fac.id}}" class="btn btn-primary">View</a>
                
            </div>
        </div>
    </div>
</div>